python-dotenv
streamlit==1.24.0
numpy==1.24.0
protobuf==3.20.*
streamlit-extras
streamlit_chat
altair
PyPDF2
openai
langchain
faiss-cpu
huggingface_hub
InstructorEmbedding
sentence_transformers

